{
    "settings": {
        "cache": false
    },
    "extends": [
        "@nuxtjs/eslint-config-typescript"
    ],
    "rules": {
        "indent": "off",
        "vue/html-indent": "off",
        "quotes": "off",
        "no-trailing-spaces": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "comma-dangle": "warn",
        "semi": "off",
        "no-multiple-empty-lines": "off",
        "no-var": "warn",
        "space-before-function-paren": "off",
        "curly": "off",
        "no-use-before-define": "off",
        "vue/html-closing-bracket-spacing": "off",
        "object-shorthand": "warn",
        "no-console": "off",
        "vue/multi-word-component-names": "off",
        "vue/max-attributes-per-line": "off",
        "vue/attribute-hyphenation": "off",
        "vue/first-attribute-linebreak": "off",
        "eol-last": "off",
        "vue/html-closing-bracket-newline": "off",
        "vue/html-self-closing": "off",
        "vue/singleline-html-element-content-newline": "off",
        "vue/attributes-order": "off",
        "vue/multiline-html-element-content-newline": "off",
        "vue/require-v-for-key": "warn"
    }
}